/* Global styles */
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Header Component Styles */
header {
    text-align: center;
    background-color: #dde324;
    color: #080808;
    padding: 2rem 0;
}

header h1 {
    font-size: 2rem;
}

header p {
    font-size: 1.2rem;
}

/* About Component Styles */
#about {
    background-color: #f9f9f9;
    padding: 3rem 0;
}

#about .container {
    text-align: left;
}

#about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#about p {
    font-size: 1.2rem;
}

/* Projects Component Styles */
#projects {
    background-color: #fff;
    padding: 3rem 0;
}

#projects .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    background-color: #f9f9f9;
    padding: 1rem;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin: 1rem;
}

#projects h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#projects h3 {
    font-size: 1.5rem;
}

#projects p {
    font-size: 1.2rem;
    text-align: justify;
}

/* Contact Component Styles */
#contact {
    background-color: #c1d638;
    color: #040404;
    padding: 3rem 0;
}

#contact .container {
    text-align: center;
}

#contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#contact p {
    font-size: 1.2rem;
}